.premium-info-footer {
  height: 420px;
  background-color: #373737;
  margin-top: -20px;
}

.free-info-footer {
  height: 470px;
  background-color: #373737;
  margin-top: 40px;
  border-bottom: 100px solid white;
}

.premium-footer ul {
  padding: 0;
  list-style: none;
  margin-left: 35px;
}

.premium-footer li {
  padding: 7px;
}

.premium-footer {
  background-color: white;
}

.correct {
  width: 22px;
  height: 22px;
}

.correct-opacity {
  width: 22px;
  height: 22px;
  opacity: 0.3;
}

.p-opacity {
  opacity: 0.3 !important;
}

.premium-footer p {
  all: unset;
  padding: 15px;
}

.price {
  font-family: HarrietDisplay;
  font-size: 26px;
  text-align: center;
}

.month {
  font-family: HarrietDisplay;
  text-align: center;
  position: relative;
  top: -20px;
  margin-left: 130px;
}

.premium-icon {
  position: relative;
  top: 15px;
  left: 25px;
}

.free-icon {
  position: relative;
  top: 15px;
  left: 25px;
}

.footer-price-text {
  margin-left: -40px;
  border-bottom: 1px solid white;
}

.footer-header-1 {
  position: relative;
  font-family: HarrietDisplay;
  font-size: 24px;
  text-align: center;
  bottom: 15px;
}

.footer-header-2 {
  position: relative;
  font-family: HarrietDisplay;
  font-size: 24px;
  text-align: center;
  bottom: 21px;
}

.skaffa-premium {
  width: 100px;
  height: 30px;
  background-color: #d9ad9c;
  position: relative;
  color: white;
  font-size: 13px;
  top: -13px;
  left: 235px;
  text-align: center;
  font-family: PF Din Text Comp Pro;
  line-height: 27px;

}
