.filterlogo {
  width: 87px;
  height: 42px;
}

h1 {
  text-align: center;
  width: 292px;
  height: 114px;
  margin: auto;
  padding: 40px;
  font-size: 48px;
  font-family: HarrietDisplay;
  line-height: 58px;
}
