/* .filterlogo {
   position: fixed;
  height: 42px;
  top: 2vh;
  left: 5vw;
} */

h1 {
  text-align: center;
  height: 114px;
  margin: auto;
  margin-top: 5vh;
  padding-top: 50px;
  font-size: 48px;
  font-family: HarrietDisplay;
  line-height: 58px;
  color: #fff;
}
